.page-container.recommendations-container.detils-container .results.results__not-empty {
  align-items: flex-start;
}

.details-container {
  display: flex;
  margin-top: 50px
}

.detils-container .img {
  background-position: top;
  height: 400px;
  min-width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.detils-container .info {
  margin-left: 10px;
}

.detils-container .title {
  font-size: 1.5em;
  margin-bottom: 10px;
}