.radio-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 0 10px 0;
}

.radio-list .list-item {
    display: block;
    flex-direction: column;
    padding: 10px 0 10px 0;
}